<div class="container" *ngIf="progress.total > 0">
  Loading: {{ progress.current }} / {{ progress.total }}
</div>
<div class="chart-container" *ngIf="single.length > 0">
  <ngx-charts-line-chart
    *ngIf="single"
    [results]="single"
    [gradient]="gradient"
    [autoScale]="autoScale"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
  >
  </ngx-charts-line-chart>
</div>