<div *ngIf="selectedEpisode">
  Episode {{ selectedEpisode?.number }}: {{ selectedEpisode?.title }}
</div>

<div class="chart-container" *ngIf="single.length > 0 && !hideGraph">
  <ngx-charts-line-chart
    *ngIf="single"
    [results]="single"
    [gradient]="gradient"
    [autoScale]="autoScale"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)"
    (activate)="onMouseEnter($event)"
    (deactivate)="onMouseExit($event)"
  >


    <ng-template #tooltipTemplate let-model="model">
      <div>Episode: {{ model | json }}</div>
      <div>Episode: {{ model.name }}</div>
      <div>Rating: {{ model.value }}</div>
    </ng-template>
  </ngx-charts-line-chart>
</div>