<div class="myprogress" *ngIf="progress.current !== progress.total" style="position:fixed;top:0;left:0;right:0;height:1px;background:white;display:flex;">
<div class="crude-progress-bar" style="transition: 0.25s ease width;background: red;" [ngStyle]="{'width': (progress.current/progress.total)*100 + '%'}"></div>
</div>


<form class="mb-3 mt-3" #searchForm="ngForm" (ngSubmit)=(onSubmit(searchForm))>
  <div class="form-inline align-items-start justify-content-center">
    <div class="form-control-group">

      <input class="form-control mr-3"
        type="text"
        name="search"
        #searchInput="ngModel"
        [(ngModel)]="formInput.searchInputText"
        [ngClass]="{'is-invalid':searchInput.errors && searchInput.touched}"
        required
        placeholder="Movie or series title"
        minlength="2">

      <div class="invalid-feedback"
        [hidden]="!searchInput.errors?.required">
        Please enter a title!
      </div>

      <div class="invalid-feedback"
        [hidden]="!searchInput.errors?.minlength">
        Search input should be longer.
      </div>
    </div>

    <button class="btn btn-primary"
      [disabled]="!searchForm.form.valid || loading" style="position: relative;">

      <span [ngStyle]="{'opacity': loading ? 0 : 1}">Search</span>

      <div class="d-flex justify-content-center spinner-wrap" *ngIf="loading">
        <i ng-cloak class="fa fa-circle-o-notch"
          [@loadingState]="{value: loadingAnimation}"
          (@loadingState.done)="onAnimationDone($event)"
        ></i>
      </div>

    </button>

  </div>
</form>

<div class="card mb-3 p-3 bg-dark text-light border-light" *ngIf="!loading && loaded ">

  <div *ngIf="result?.Error">
    {{ result?.Error }}
  </div>

  <div *ngIf="result.Type === 'movie' || result.Type === 'series' ">
    <div class="media-body mb-0 small lh-125 border-gray">
      <div>
        <strong>Title: </strong>
      </div>
      <span>{{ result?.Title }}</span>
      <div>
        <strong>Rating: </strong>
      </div>
      <span>{{ result?.Ratings[0].Value }} ({{ result?.Ratings[0].Source }})</span>
    </div>
  </div>

</div>